@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  @apply min-h-screen w-full flex items-center justify-center bg-gray-300 py-4;
}

.container {
  @apply mx-auto w-full px-4;
}

.option {
  @apply text-black bg-white border shadow-sm rounded-md text-xl py-4 px-2 mb-3 hover:bg-gray-100 disabled:cursor-default;
}

.option.correct {
  @apply text-white bg-green-500;
}

.option.incorrect {
  @apply text-white bg-red-500;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #565050;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f9ecec;
  border-radius: 10px;
}
